<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestSignup</servlet-name>
        <servlet-class>mypackage.TestSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLogin</servlet-name>
        <servlet-class>mypackage.TestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestForget</servlet-name>
        <servlet-class>mypackage.TestForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestChangePassword</servlet-name>
        <servlet-class>mypackage.TestChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestJavaMcq</servlet-name>
        <servlet-class>mypackage.TestJavaMcq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMcq</servlet-name>
        <servlet-class>mypackage.TestMcq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOOAD2018</servlet-name>
        <servlet-class>mypackage.TestOOAD2018</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOOAD2017</servlet-name>
        <servlet-class>mypackage.TestOOAD2017</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestOOAD2016</servlet-name>
        <servlet-class>mypackage.TestOOAD2016</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSignup</servlet-name>
        <url-pattern>/TestSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLogin</servlet-name>
        <url-pattern>/TestLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestForget</servlet-name>
        <url-pattern>/TestForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestChangePassword</servlet-name>
        <url-pattern>/TestChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestJavaMcq</servlet-name>
        <url-pattern>/TestJavaMcq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMcq</servlet-name>
        <url-pattern>/TestMcq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOOAD2018</servlet-name>
        <url-pattern>/TestOOAD2018</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOOAD2017</servlet-name>
        <url-pattern>/TestOOAD2017</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestOOAD2016</servlet-name>
        <url-pattern>/TestOOAD2016</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
